.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20rem);
}

.contenedor-password {
    border: solid 1px black;
    width: 500px;
    text-align: center;
    height: 200px;
}

.pass-box { 
    padding: 20px;
}

.ingresar {
    margin: 40px;
    padding: 1rem 2rem;
}
